parts
var
eggs
develop-eggs
bin
lib
include
.project
.installed.cfg
*.egg-info
*.pyc
.mr.developer.cfg
.pydevproject
downloads
conf/collectd.conf
conf/collectd.conf.local
conf/collectd.passwd
conf/collectd_*
local/
src/carbon/
src/ceres/
src/graphite-web/
src/whisper/
src/mist.alert/
src/bucky/
settings.py
build/
*.swp
